<div class="main">
  
  <div class="content-wrap">
    <div class='content'>
      <%= react_component('Messages') %>
    </div>
  </div>

  <div class="footer-wrap">
    <div class="footer">
      <%= form_for :message, url: messages_path, remote: true, id: 'messages-form' do |f| %>
        <%= f.text_field :content, class: "form-control", placeholder: 'Enter your message and press RETURN'%>
        <!-- <%= f.submit 'Send', class: "btn btn-primary"%> -->
      <% end %>
    </div>
  </div>
<div>

<script>
  $("#message_content").keyup(function(event){
      if(event.keyCode == 13){
        document.getElementById("message_content").value = '';
      }
  });
</script>
