<div class="col-md-4 center">
  <%= form_for :session, url: sessions_path do |f| %>
    <%= f.text_field :username, class: "form-control", placeholder: "username" %><br/>
    <%= f.submit 'Start', class: "btn btn-primary" %>
  <% end %>
</div>
